{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}
{% block head_title %}Авторизация{% endblock %}

{% block content %}
<div class="row section__main item__center">
    <div class="section__left img_sova">
        <img src="{% static 'img/sova.png' %}">
    </div>
    <div class="section__right">
        <div class="form">
            <form action="{% url 'main_app:auth' %}" method="post">
                {% csrf_token %}
                <div class="row row__center">
                    <div class="column input_text">
                        <table>
                            <tr>
                                <td>{{ form.email.label_tag }}</td>
                                <td>{{ form.email }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row row__center">
                    <div class="column">
                        <div class="errors__wrapper">
                            {% for field in form %}
                            {% for error in field.errors %}
                            <span class="error">
                                    {{ error }}
                                </span>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row row__center">
                    <div class="column input_btn">
                        <input type="submit" value="Войти"/>
                        <input type="hidden" name="next" value="{% url 'main_app:index' %}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}